.header {
  color: white;
  margin-bottom: 0px;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.button-header-group {
  margin-top: 0px;
}

.button-header {
  position: inherit;
  right: 0px;
  height: 60px;
  width: 60px;
  align-self: right;
  background-color: rgb(100,100,100);
  border: none;
}

.title {
  align-items: right;
  min-width: 200px;
  cursor: pointer;
}

.button-logout {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-content: end;
  height: 60px;
}
