@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.background-body {
  background-color: #F0F0F0;
}

.section-interface {
  padding-top: 20px;
  background-color: #FcFcFc;
  color: black;
  padding-bottom: 20px;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

#usernameLogin{
  width: 100%;
}

.form-style {
  display: flex;
  flex-direction: column;
}
