
<mat-card class="container section-interface">
  <mat-tab-group>
      <mat-tab label="Login">
        <mat-card-title>
          Login
        </mat-card-title>
        <form id='connection-form' class="form-style" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <input id="usernameLogin"
                   name="usernameLogin"
                   matInput
                   placeholder="User Name"
                   formControlName="usernameLogin"/>
          </mat-form-field>
          <show-errors [control]="loginForm.controls.usernameLogin"></show-errors>
          <mat-form-field class="full-width">
            <input type="password" id="passwordLogin"
                   name="passwordLogin"
                   required value=""
                   formControlName="passwordLogin"
                   matInput
                   placeholder="Password"/>
          </mat-form-field>
          <button mat-button type="submit" class="btn btn-success">Submit</button>
        </form>
      </mat-tab>
      <mat-tab label="Register">
        <form id='register-form' class="form-style" (ngSubmit)="onSubmitRegister()">
          <mat-card-title>
            Register
          </mat-card-title>
          <mat-form-field class="full-width">
            <input type="text" id="usernameRegister"
                   placeholder="User Name"
                   required
                   matInput
                   name="username"
                   [(ngModel)]="user.username"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="email"
                   matInput
                   id="email"
                   name="email"
                   placeholder="Email"
                   required email="true" [minlength]="5"
                   [(ngModel)]="user.email"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password"  id="passwordRegister" name="passwordRegister"
                   matInput
                   required [minlength]="5"
                   [(ngModel)]="user.password"
                   placeholder="Password"
                   (change)="verifPasswordChange()"/>
          </mat-form-field>
          <mat-form-field class="form-group">
            <input type="password" id="repassword"
                   name="repassword" placeholder="Confirm Password"
                   [(ngModel)]="verifPassword"
                   matInput
                   required [minlength]="5" value=""
                   (change)="verifPasswordChange()"/>
          </mat-form-field>
          <button mat-button type="submit" class="btn btn-success">Submit</button>
        </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
