<div class="container">
  <div class="col-xs-12 btn-group">
    <button type="button" class="btn login-choise"
    (click)="loginModeChange()">Login</button>
    <button type="button" class="btn login-choise"
    (click)="registerModeChange()">Register</button>
  </div>
  <div *ngIf="loginMode" id="login-div">
    <h2>Login</h2><br>
    <form id='connection-form' (ngSubmit)="onSubmit()">
      <div class='form-group'>
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username"
               required
               name="username"
               [(ngModel)]="user.username">
      </div>
      <div class='form-group'>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required
               name="password"
               [(ngModel)]="user.password">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <div *ngIf="!loginMode" id="registerDiv">
    <form id='register-form' (ngSubmit)="onSubmitRegister()">
      <h2>Register</h2><br>
      <div class='form-group'>
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="usernameRegister"
               required [minlength]="5"
               name="username"
               [(ngModel)]="user.username">
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder=""
               required email="true" [minlength]="5"
               [(ngModel)]="user.email">
      </div>
      <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" id="passwordRegister" name="passwordRegister" placeholder=""
             required [minlength]="5"
             [(ngModel)]="user.password"
             (change)="verifPasswordChange()">
    </div>
      <div class="form-group">
        <label for="repassword">Password</label>
        <input type="password" class="form-control ng-invalid ng-touched" id="repassword" name="repassword" placeholder=""
               [(ngModel)]="verifPassword"
               required [minlength]="5" value=""
               (change)="verifPasswordChange()">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
