
<mat-card class="container section-interface">
  <mat-tab-group>
      <mat-tab label="Login">
        <mat-card-title>
          Login
        </mat-card-title>
        <form id='connection-form' class="form-style" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <input id="usernameLogin"
                   name="usernameLogin"
                   matInput
                   placeholder="User Name"
                   formControlName="usernameLogin"/>
          </mat-form-field>
          <show-errors [control]="loginForm.controls.usernameLogin"></show-errors>
          <mat-form-field class="full-width">
            <input type="password" id="passwordLogin"
                   name="passwordLogin"
                   matInput
                   placeholder="Password"
                   formControlName="passwordLogin"/>
          </mat-form-field>
          <show-errors [control]="loginForm.controls.passwordLogin"></show-errors>
          <button mat-button type="submit" class="btn btn-success">Submit</button>
        </form>
      </mat-tab>
      <mat-tab label="Register">
        <form id='register-form' class="form-style" (ngSubmit)="onSubmitRegister()" [formGroup]="registerForm">
          <mat-card-title>
            Register
          </mat-card-title>
          <mat-form-field class="full-width">
            <input type="text" id="usernameRegister"
                   placeholder="User Name"
                   matInput
                   name="username"
                   formControlName="usernameRegister"/>
          </mat-form-field>
          <show-errors [control]="registerForm.controls.usernameRegister"></show-errors>
          <mat-form-field class="full-width">
            <input matInput
                   id="email"
                   name="email"
                   placeholder="Email"
                   formControlName="emailRegister"/>
          </mat-form-field>
          <show-errors [control]="registerForm.controls.emailRegister"></show-errors>
          <mat-form-field class="full-width">
            <input type="password"
                   id="passwordRegister"
                   name="passwordRegister"
                   matInput
                   placeholder="Password"
                   formControlName="passwordRegister"/>
          </mat-form-field>
          <show-errors [control]="registerForm.controls.passwordRegister"></show-errors>
          <mat-form-field class="form-group">
            <input type="password"
                   id="repassword"
                   name="repassword"
                   placeholder="Confirm Password"
                   matInput
                   formControlName="confirmPasswordRegister"/>
          </mat-form-field>
          <show-errors [control]="registerForm.controls.confirmPasswordRegister"></show-errors>
          <button mat-button type="submit" class="btn btn-success">Submit</button>
        </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
