.dashboard-table{
  border-collapse: collapse;
  width: 100%;
}

td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.nav-button {
  display: flex;
  align-item: center;
  font-size: 15px;
  width: 42px;
  height: 35px;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

}

