.dashboard-table{
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.title-table {
  font-size: 110%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(80,80,80);
  color: white;
  border-top-color: rgb(0,0,0);
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.table-case {
  td {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
    background-color: white;
    width: 25%;
  }
  .name-computer-table {
    cursor: pointer;
    transition-duration: 0.8s;
    transition-property: background-color color;

  }
  .name-computer-table:hover {
    cursor: pointer;
    background-color: rgb(150,150,150);
    color: white;
  }
}

.nav-button, .nb-computer-to-show-btn{
  display: flex;
  align-item: center;
  font-size: 15px;
  width: 42px;
  height: 35px;
  justify-content: center;
  background-color: #DEDEDE;
  padding: 0px;
  border: solid;
  border-color: #CECECE;
  border-width:1px ;
}

.nb-computer-to-show {
  margin-left: 10px;
}
.nav-button-group {
  display: flex;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}


@media (min-width: 678px) {
  .navigation-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    button {
      background-color: #EEEEEE;
      width: 100%;
    }
  }
}
@media (max-width: 678px) {
  .navigation-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button {
      background-color: #EEEEEE;
      width: 100%;
    }
  }
}
.btn-filter {
  background-color: #FAFAFA;
}




