
<div class="container">
  <h3 *ngIf="count" >{{count}} computers found !</h3>
  <div>
    <button routerLink="/add-computer">Add Computer</button>
    <button (click)="changeDeleteMode()">Delete Computer</button>
    <button>Delete Company</button>
    <button>Filter</button>

  </div>
  <table class="dashboard-table">
    <tr class="title-table">
      <td *ngIf="deleteMode">
        <button (click)="confirmDelete()"  class="btn btn-danger">Trash</button>
      </td>
      <td (click)="changeOrderType('name')">Name</td>
      <td (click)="changeOrderType('introduced')">Introduced</td>
      <td (click)="changeOrderType('discontinued')">Discontinued</td>
      <td (click)="changeOrderType('company')">Company</td>
    </tr>
    <tr *ngFor="let computer of listComputer; let j = index">
      <td *ngIf="deleteMode">
        <input type="checkbox" (click)="getComputerIdToDelete()"
               value="{{computer.id}}"
               name="computerToRemove"/>
      </td>
      <td (click)="updateComputer(computer.id)" class="name-computer-table">
        <span>{{computer.name}}</span>
      </td>
      <td>
        <span *ngIf="computer.introduced != null">
          {{computer?.introduced.dayOfMonth}}-{{computer?.introduced.monthValue}}-{{computer?.introduced.year}}
        </span>
      </td>
      <td>
        <span *ngIf="computer.discontinued != null">
          {{computer?.discontinued.dayOfMonth}}-{{computer?.discontinued.monthValue}}-{{computer?.discontinued.year}}
        </span>
      </td>
      <td>
        <span *ngIf="computer.company != null">
          {{computer.company.name}}
        </span>
      </td>
    </tr>
  </table>
</div>
  <footer>
    <div class="btn-group nav-button-group">
      <button class="btn btn-primary nav-button" *ngIf="pagination.beginComputerDisplay != 0" (click)="updateNavBarDecrement()">
        <span class="glyphicon glyphicon-triangle-left"></span>
      </button>
      <button *ngFor="let nav of navArray; let i = index" class="btn btn-primary nav-button" (click)="updateNavBar(nav)">
        <span >{{nav+1}}</span>
      </button>
      <button class="btn btn-primary nav-button" (click)="updateNavBarIncrement()"
              *ngIf="pagination.beginComputerDisplay + pagination.numberComputerToShow < count">
        <span class="glyphicon glyphicon-triangle-right"></span>
      </button>
    </div>
  </footer>

